form textarea {
  border: none;
  border-bottom: 5px solid #585959;
  background-color: #a8a3ff;
  width: 100%;
}

form {
  display:none;
}

input {
  border: none;
  color: white;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  font-family:'Bungee';
  background-color: #9f43fa;
  padding: 0px 10px;
   
}

.counter {
float: right;
color:  #9f43fa;
font-family:'Bungee';
}